/* TODO Add site wide styles */
.page-contents-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.page-contents-container .logged-in-dashboard-component{
    background-color: white;
    border: solid black 5px;
    border-radius: 5rem;
    padding: 0.5rem;
    margin-top: 5rem;
}


.button-container {
  margin: 0.5rem;
}

.navigation-link a {
  margin: 0.2rem;
}

.page-container {
  display: flex;
}

/* Navbar styles */
.navbar-container {
  width: 20rem;
  height: 100vh;
  background-color: #3b4b61;
  padding: 1rem;
}

.navbar-container a {
  color: white;
  margin: 1rem;
  padding: 1rem;
}

.page-contents-container {
  background-image: url("./images/GuildHall.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
